.clock-digital__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 1rem;
  position: relative; }
  .clock-digital__container--clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 30rem;
    background: #000;
    border-radius: 2rem; }
  .clock-digital__container--face {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47rem;
    height: 27rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 2rem;
    box-shadow: inset 0 0 1rem 3px #000; }
  .clock-digital__container--number {
    background: lightblue;
    border: 1px solid orange; }
  .clock-digital__container .unit {
    position: absolute;
    border-radius: .5rem; }
